/* Google Fonts import */
@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* 
CSS Variables
Credit: https://www.w3schools.com/cssref/sel_root.php,
https://www.w3schools.com/css/css3_variables.asp 
*/
:root {
    /* p = Primary / s = Secondary */
    --dark-backgorund: #121212;
    --card-background: #1E1E1E;
    --p-highlight: #03DAC5;
    --p-highlight-transparent: rgba(3, 218, 197, 0.8);
    --p-text: #FFFFFF;
    --s-text: #A5A5A5;
    --player-color: #BAfC86;
    --ai-color: #BB86FC;
}

/* General Styles */
html {
    /* smooth scrolling to section links */
    scroll-behavior: smooth;
    /* Smaller text on small phones */
    font-size: 80%;
}

body {
    margin: 0;
    background-color: var(--dark-backgorund);
    color: var(--p-text);
    font-family: 'Nunito', sans-serif;
    font-size: 1rem;
    /* allows for main: flex-grow: 1; so the main section stretches if the body doesn't fill the screen height */
    display: flex;
    flex-direction: column;
}

h1 {
    font-size: 2rem;
    font-weight: 500;
}

h2 {
    margin-top: 0;
    font-size: 1.5rem;
    font-weight: 700;
    color: var(--s-text);
}

.card {
    background-color: var(--card-background);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    padding: 1rem;
    border-radius: 1rem;
    box-sizing: border-box;
}

.label {
    font-size: 1.2rem;
    font-weight: 700;
}

.align-right {
    text-align: right;
}

.secondary-text {
    color: var(--s-text);
}

.player-color {
    color: var(--player-color);
}

.ai-color {
    color: var(--ai-color);
}

.blur-background {
    position: absolute;
    z-index: -1;
    /* Credit: https://www.w3schools.com/howto/howto_css_blurred_background.asp */
    filter: blur(100px);
    background-color: var(--p-highlight-transparent);
}

/* Layout Styles */

/* Header Styles */
header {
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid var(--s-text);
}

#header-blur-element {
    width: 70px;
    height: 90vh;
    top: 20vh;
    left: -10px;
}

nav>ul {
    list-style: none;
    display: flex;
    gap: 1rem;
}

nav>ul>li>a {
    color: var(--p-highlight);
    text-decoration: none;
    font-size: 1.2rem;
    font-weight: 700;
}

nav>ul>li>a:hover {
    color: var(--p-highlight-transparent);
}

/* Main Styles */
main {
    padding: 1rem;
    /* Pushes footer down when there is not enough content on the page */
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

#end-message-alert-box {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3rem;
    font-weight: bold;
    text-shadow: 0 0 10px rgba(255, 255, 255, 0.5);
}

#game-area {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    width: 100%;
}

#game-area>div {
    width: 100%;
}

/* Gameboard */
#game-area>#gameboard {
    position: relative;
    /* Credit: https://developer.mozilla.org/en-US/docs/Web/CSS/box-sizing */
    box-sizing: content-box;
    display: flex;
    flex-wrap: wrap;
}

/* Scores Card */
#scores>div {
    margin-top: 1.5rem;
    display: flex;
    justify-content: center;
}

#game-end-message {
    font-size: 1.5rem;
    font-weight: 700;
    text-align: center;
}

#scores div div {
    display: flex;
    flex-direction: column;
}

#scores div div span {
    display: block;
}

#player-name-label {
    flex-grow: 1;
}

#vs-label {
    align-self: center;
}

.player-score-scoreboard {
    font-weight: 700;
    font-size: 3rem;
}

/* Credit for animation: https://www.w3schools.com/cssref/css3_pr_animation.php */
@keyframes lightUp {
    0% {
        box-shadow: none;
    }

    50% {
        box-shadow: inset 0 0 15px rgb(255, 255, 255);
    }

    100% {
        box-shadow: none;
    }
}

/* Options Card */
#options {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

#options div div {
    margin-bottom: .5rem;
    display: flex;
    align-items: center;
    gap: 2rem;
}

input[type="text"],
input[type="range"] {
    padding: 0.5rem;
    border-radius: 0.5rem;
    border: 1px solid var(--s-highlight);
    background-color: rgba(255, 255, 255, 0.1);
}

input[type="text"]:hover {
    background-color: rgba(255, 255, 255, 0.2);
}

input[type="radio"] {
    appearance: none;
    margin: 0;
    width: 1.5rem;
    height: 1.5rem;
    border-radius: 50%;
    border: 1px solid var(--s-highlight);
    background-color: rgba(255, 255, 255, 0.1);
    cursor: pointer;
}

input[type="radio"]:hover {
    background-color: rgba(255, 255, 255, 0.2);
}

input[type="radio"]:checked {
    background-color: var(--p-highlight);
}

input[type="radio"]:checked:hover {
    background-color: var(--p-highlight-transparent);
}

#start-game {
    max-width: 200px;
    background-color: var(--p-highlight);
    padding: 1rem;
    text-align: center;
    border-radius: 0.5rem;
    cursor: pointer;
    color: #000;
    font-weight: 700;
}

/* Instructions Card */
#instructions {
    padding: 2rem;
    max-width: 768px;
    line-height: 1.8;
}

#instructions ol {
    font-size: 1.2rem;
}

#instructions ol li {
    margin-bottom: 1rem;
}

#instructions ol li strong {
    color: var(--p-highlight);
}

#instructions>p {
    color: var(--s-text);
    font-style: italic;
    font-size: 1.2rem;
}

/* Footer Styles */
footer {
    position: relative;
    padding: 1rem;
    color: var(--s-text);
    display: flex;
    justify-content: space-between;
    border-top: 1px solid var(--s-text);
}

footer>div {
    display: flex;
    align-items: center;
    gap: 2rem;
}

.fab {
    /* Restyle Font Awesome icons */
    background-color: var(--card-background);
    font-size: 1.5rem;
    color: var(--p-text);
    padding: 1rem;
    border-radius: 50%;
    cursor: pointer;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.fab:hover {
    background-color: var(--p-highlight);
    color: #000;
}

#footer-blur-element {
    width: 50%;
    height: 70px;
    top: 0;
    right: 0;
}

/* Media Queries */
@media screen and (min-width: 375px) {
    html {
        /* larger text on larger screens */
        font-size: 100%;
    }

    #scores>div {
        justify-content: center;
        gap: 1rem;
    }
}

@media screen and (min-width: 768px) {

    /* Arrange Scores and Options Cards Horizontally below Gameboard */
    #game-area {
        max-width: 768px;
        /* Credit: https://grid.layoutit.com/,
        https://mozilladevelopers.github.io/playground/css-grid */
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 0fr;
        align-items: start;
    }

    #game-area>#gameboard {
        grid-area: 1 / 1 / 2 / 3;
        justify-self: center;
    }

    #scores {
        grid-area: 2 / 1 / 3 / 2;
    }

    #options {
        grid-area: 2 / 2 / 3 / 3;
    }
}

@media screen and (min-width: 1440px) {

    /* Increase Spacing on large screens */
    main {
        padding: 3rem;
        gap: 3rem;
    }

    /* Arrange Scores and Options Cards vertically and to the left of the Gameboard */
    #game-area {
        max-width: initial;
        grid-template-columns: 6fr 8fr;
        grid-template-rows: auto 1fr;
        gap: 3rem;
    }

    #game-area>#gameboard {
        grid-area: 1 / 2 / 3 / 3;
    }

    #scores {
        justify-self: end;
        max-width: 400px;
        grid-area: 1 / 1 / 2 / 2;
    }

    #options {
        align-self: start;
        justify-self: end;
        max-width: 400px;
        grid-area: 2 / 1 / 3 / 2;
    }
}

@media screen and (min-width: 1800px) {

    /* Arrange all children of #game-area horizontally */
    #game-area {
        grid-template-columns: 3fr 6fr 3fr;
        grid-template-rows: 1fr;
        gap: 3rem;
    }

    #game-area>#gameboard {
        grid-area: 1 / 2 / 2 / 3;
    }

    #scores {
        justify-self: end;
        max-width: 400px;
        grid-area: 1 / 1 / 2 / 2;
    }

    #options {
        grid-area: 1 / 3 / 2 / 4;
    }
}